.bg-cover{
	background: url(scenery.jpg);
	height: 300px;
	background-size: cover;
}
.mymargin{
	margin-top: 20px;
}
.mypadding{
    padding-right: 400px;
    padding-left: 400px;
}
.mymargin2{
	margin-top: 30px;
}
p{
	text-align: center;
	font-family: verdana;
}
h1,h2{
	text-align: center;
}
/*.myglyph{
	background: url(key.png);
}*/